.controls {

    .button {

        color: #fff;
        padding:10px;
        width: 100px;
        display: inline-block;
        text-align: center;
        text-decoration: none;

        &.-default{

            background: #388AC7;

        }

    }

}